#navbar {
  align-items: flex-start;
  justify-items: left;
  background-color: burlywood;
}
li > a {
  align-items: flex-start;
  justify-items: left;
  list-style: none;
  text-decoration: none;
}
