
html, main{
  background-size: cover;
  overflow: scroll;
  resize: both;
  min-width: 300px;
  color: black;
  font-size: 1.15em;
  background-color: rgb(60, 140, 80,);
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 2;
}
#navbar{
  position: fixed;
    min-width: 290px;
  max-width: inherit;
  top: 0px;
    left :0px; 
  width 300px;
  height 20%;


}


#navbar a{
  width: inherit;
  

}


header, h1{
  color: black;
  margin: 10px;
  text-align: center;
  font-size: 1.3em;
  text-decoration: none;
  margin: auto;
  padding: 0;
  
}

main, ul{
  text-align: center;
  list-style: none;
}
@media only screen and (max width: 600px){
  
}
