#cart {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}
#cart-box {
  background-color: bisque;
  border-radius: 30px;
  padding: 10px 50px 30px 50px;
}
#cart-items-list {
  list-style: none;
}
