#inventory-page {
  display: flex;
  align-content: center;
  justify-content: center;
}

#item-card {
  background-color: bisque;
  color: darkslategray;
  height: 400px;
  width: 400px;
  border-radius: 20px;
  padding-bottom: 50px;
}

#menuItem-img {
  border-radius: 20px;
}
#menuitem-price,
#menuItem-inStock,
#btn-console {
  display: block;
  text-decoration: none;
}
