#inventory-title {
  padding-bottom: 100px;
}

#cards-container {
  font-size: 0.7em;
  display: grid;
  grid-template-columns: auto auto auto;
  align-content: space-around;
  justify-content: center;
  height: auto;
  width: auto;
  gap: 20px;
}

#cards-container2 {
  font-size: 1em;
  display: grid;
  grid-template-columns: auto;
  align-content: center;
  justify-content: center;
  height: auto;
  width: auto;
  gap: 50px;
}

#item-card2 {
  background-color: bisque;
  color: darkslategray;
  height: 25em;
  width: 25em;
  border: solid darkslategray 3px;
  border-radius: 20px;
  padding-bottom: 5px;
}
#item-card {
  background-color: bisque;
  color: darkslategray;
  border: solid darkslategray 3px;
  border-radius: 20px;
  padding: 3%;
}

label > div.form-group {
  font-size: small;
}

#menuItem-img {
  border-radius: 15px;
}

#btn-console {
  display: block;
  padding: 5px;
}

input > div.form-group {
  font-size: 0.7em;
  padding: 2%;
  margin: 1%;
}
