#menu-box {
  background-color: bisque;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: space-between;
  margin: 75px;
  width: auto;
  padding: 20px;
  border-radius: 20px;
}
#menu-item {
  display: flex;
  flex-flow: column nowrap;
  align-content: space-between;
  padding-bottom: 3em;
}
#menu-image {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
#quantity-label {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
#menu-item-quantity {
  margin: 2px;
  padding: 2px;
  width: 1.8em;
}
